

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading head-border">
               <a class="btn btn-success btn-xs" href="#/pedido/create"><i class="fa fa-plus"> Crear Pedido</i></a>

            </header>

            <!-- Filters -->
            <div id="custom-toolbar">
                <div class="form-inline" role="form">

                    <!-- Nombre producto-->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="busqueda.NombreProducto" placeholder="Nombre Producto" />
                        </div>
                    </div>
                    <!-- Codigo Local-->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="busqueda.CodigoLocal" placeholder="Codigo Local" />
                        </div>
                    </div>
                    <!-- SKU #-->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="busqueda.SKU" placeholder="#SKU" />
                        </div>
                    </div>
                    <!--Marca-->
                    <div class="form-group">
                        <div class="input-group">
                            <select ng-model="busqueda.CodigoProductoMarca" class="form-control" ng-options="opcion.CodigoProductoMarca as opcion.Nombre for opcion in productoMarcas">
                                <option value="">Filtro Marca</option>

                            </select>
                        </div>
                    </div>
                    <!--Clasificacion-->
                    <div class="form-group">
                        <div class="input-group">
                            <select ng-model="busqueda.CodigoProductoClasificacion" class="form-control" ng-options="opcion.CodigoProductoClasificacion as opcion.Descripcion for opcion in productoClasificaciones" ng-change="cargarSubClasificaciones()">
                                <option value="">Filtro Clasificacion</option>

                            </select>
                        </div>
                    </div>
                    <!--Sub-Clasificacion-->
                    <div class="form-group">
                        <div class="input-group">
                            <select ng-model="busqueda.CodigoProductoSubClasfificacion" class="form-control" ng-options="opcion.CodigoProductoSubClasificacion as opcion.Descripcion for opcion in productoSubClasificaciones">
                                <option value="">Filtro Sub-Clasificacion</option>

                            </select>
                        </div>
                    </div>
                    <!--Abastecimiento-->
                    <div class="form-group">
                        <div class="input-group">
                            <select ng-model="busqueda.CodigoProductoAbastecimiento" class="form-control" ng-options="opcion.CodigoProductoAbastecimiento as opcion.Descripcion for opcion in productoAbastecimientos">
                                <option value="">Filtro Abastecimiento</option>

                            </select>
                        </div>
                    </div>
                    <!--Bodega-->
                    <div class="form-group">
                        <div class="input-group">
                            <select ng-model="busqueda.CodigoBodega" class="form-control" ng-options="opcion.CodigoBodega as opcion.Nombre for opcion in bodegas">
                                <option value="">Filtro Bodega</option>

                            </select>
                        </div>
                    </div>
                    <!--Apply button -->
                    <div class="form-group">
                         <button type="submit" ng-click="buscar()" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>


            <table class="table table-striped custom-table table-hover">
                <thead> 
                    <tr>
                        <th ng-hide="true">Codigo Producto</th>
                        <th>Codigo Local</th>
                        <th>Nombre</th>
                        <th>Clasificacion</th>
                        <th>Sub-Clasificacion</th>
                        <th>Marca</th>
                        <th>Bodega</th>
                        <th>Existencia</th>
                        <th>Existencia Minima</th>
                        <th ng-hide="true">Estado</th>
                        <th class="hidden-xs"><i class="fa fa-cogs"></i> Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="producto in productos" ng-class="{'danger': (producto.Existencia < producto.ExistenciaMinima)}">
                        <td ng-hide="true">
                            {{ producto.CodigoProducto }}
                        </td>
                        <td>
                            {{ producto.CodigoLocal }}
                        </td>
                        <td>
                            {{ producto.Nombre }}
                        </td>
                        <td>
                            {{ producto.Clasificacion}}
                        </td>
                        <td>
                            Subclasificacion
                        </td>
                        <td>
                            {{ producto.Marca}}
                        </td>
                        <td>
                            {{ producto.Bodega}}
                        </td>
                        <td>
                            {{ producto.Existencia}}
                        </td>
                        <td>
                            {{ producto.ExistenciaMinima}}
                        </td>
                        <td class="hidden-xs">
                            <button type="button" class="btn btn-success" ng-click="agregarProductoAPedir(producto)"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </section>
    </div>
    </div>
