<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Producto <a class="btn btn-success btn-xs" href="#/producto/imagen/{{producto.CodigoProducto}}" title="Agregar imagen"><i class="fa fa-check"></i></a>
            </header>
            <div class="panel-body">
                <div class=" form">
                    <form name="form" class="cmxform form-horizontal tasi-form">
                        <div class="widget">
                            <div class="form-group row gal-upload">
                                <div class="col-lg-10">
                                    
                                    <div class="dropdown" ng-repeat="productoImagen in productoImagenes" id="divProductoImagen{{$index}}">

                                        <span ng-show="productoImagen.Principal" id="principal{{$index}}" class="time-line-subject green"> <i class="fa fa-check-circle"></i> Principal</span>
                                        <span ng-hide="productoImagen.Principal" id="secundaria{{$index}}" class="time-line-subject yellow"> <i class="fa fa-check"></i> Secundaria</span>

                                            <div class="file-preview-thumbnails">
                                                <div class="file-preview-frame" data-fileindex="0">
                                                    <img ng-src="{{service_base}}{{productoImagen.ImagenUrl}}" onerror="this.src = '../img/no-preview-available.png'" class="file-preview-image" title="collage_interior.jpg" alt="collage_interior.jpg" style="width:auto;height:160px;">
                                                    <div class="file-thumbnail-footer">
                                                        <div class="file-caption-name" style="width: 98px;" title="collage_interior.jpg">Imagen {{$index+1}}</div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-content">

                                                <a ng-click="eliminarProductoImagen(productoImagen.CodigoProductoImagen,$index)">Eliminar Imagen</a>
                                                <a ng-hide="{{productoImagen.Principal}}" ng-click="convertirProductoImagenPrincipal(productoImagen.CodigoProductoImagen,$index)">Convertir en Principal</a>

                                            </div>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                            <div class="form-group ">
                                <label for="CodigoLocal" class="control-label col-lg-2">Codigo Local</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-model="producto.CodigoLocal" id="CodigoLocal" name="CodigoLocal" type="text" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="nombre" class="control-label col-lg-2">Nombre Producto</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-hide="true" ng-model="producto.CodigoProducto" id="codigoproducto" name="codigoproducto" type="text" />
                                    <input class=" form-control" ng-model="producto.Nombre" id="Nombre" name="Nombre" type="text" required
                                           ng-class="{error:form.Nombre.$dirty && form.Nombre.$invalid}" />
                                    <div ng-messages="(form.Nombre.$dirty && form.Nombre.$error)" ng-messages-multiple>
                                        <div class="error" ng-message="required">Ingrese un nombre para este producto</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="direccion" class="control-label col-lg-2">Precio Costo</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-model="producto.PrecioCosto" id="PrecioCosto" name="PrecioCosto" type="text" required />
                                    <div ng-messages="(form.PrecioCosto.$dirty && form.PrecioCosto.$error)" ng-messages-multiple>
                                        <div class="error" ng-message="required">Ingrese un valor numerico. Si no posee la informacion, porfavor ingrese 0.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="direccion" class="control-label col-lg-2">SKU</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-model="producto.SKU" id="SKU" name="SKU" type="text"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="direccion" class="control-label col-lg-2">Existencia Minima</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-model="producto.StockMinimo" id="StockMinimo" name="StockMinimo" type="number" required />
                                    <div ng-messages="(form.StockMinimo.$dirty && form.StockMinimo.$error)" ng-messages-multiple>
                                        <div class="error" ng-message="required">Ingrese un valor numerico. Si no posee la informacion, porfavor ingrese 0.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="direccion" class="control-label col-lg-2">Alto</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-model="producto.Alto" id="Alto" name="Alto" type="number" />
                                    <div ng-messages="(form.Alto.$dirty && form.Alto.$error)" ng-messages-multiple>
                                        <div class="error" ng-message="required">Ingrese un valor numerico. Si no posee la informacion, porfavor ingrese 0.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="direccion" class="control-label col-lg-2">Ancho</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-model="producto.Ancho" id="Ancho" name="Ancho" type="number" />
                                    <div ng-messages="(form.Ancho.$dirty && form.Ancho.$error)" ng-messages-multiple>
                                        <div class="error" ng-message="required">Ingrese un valor numerico. Si no posee la informacion, porfavor ingrese 0.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="direccion" class="control-label col-lg-2">Profundidad</label>
                                <div class="col-lg-10">
                                    <input class=" form-control" ng-model="producto.Profundidad" id="Profundidad" name="Profundidad" type="number" />
                                    <div ng-messages="(form.Profundidad.$dirty && form.Profundidad.$error)" ng-messages-multiple>
                                        <div class="error" ng-message="required">Ingrese un valor numerico. Si no posee la informacion, porfavor ingrese 0.</div>
                                    </div>
                                </div>
                            </div>
                            <!--ImagenUrl -->

                            <div class="form-group ">
                                <label for="cemail" class="control-label col-lg-2">Marca</label>
                                <div class="col-lg-10">
                                    <select class="form-control" ng-model="producto.CodigoProductoMarca"
                                            ng-options="opcion.CodigoProductoMarca as opcion.Nombre for opcion in productoMarcas"
                                            id="CodigoProductoMarca" name="CodigoProductoMarca" required>
                                        <option value="">Seleccione una marca</option>
                                    </select>
                                    <div ng-messages="(form.CodigoProductoMarca.$dirty && form.CodigoProductoMarca.$error)" ng-messages-multiple>
                                        <div class="error" ng-message="required">Seleccione una marca para este producto</div>
                                    </div>
                                </div>
                            </div>

                        <div class="form-group ">
                            <label for="cemail" class="control-label col-lg-2">Metodo de Abastecimiento</label>
                            <div class="col-lg-10">
                                <select class="form-control " ng-model="producto.CodigoProductoAbastecimiento"
                                        ng-options="opcion.CodigoProductoAbastecimiento as opcion.Descripcion for opcion in productoAbastecimientos"
                                        id="CodigoProductoAbastecimiento" name="CodigoProductoAbastecimiento" required>
                                    <option value="">Seleccione un metodo de abastecimiento</option>
                                </select>
                                <div ng-messages="(form.CodigoProductoAbastecimiento.$dirty && form.CodigoProductoAbastecimiento.$error)" ng-messages-multiple>
                                    <div class="error" ng-message="required">Seleccione un canal de abastecimiento para este producto</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="cemail" class="control-label col-lg-2">Clasificacion</label>
                            <div class="col-lg-10">
                                <select class="form-control " ng-model="producto.CodigoProductoClasificacion" ng-change="cargarSubClasificaciones()"
                                        ng-options="opcion.CodigoProductoClasificacion as opcion.Descripcion for opcion in productoClasificaciones"
                                        id="CodigoProductoClasificacion" name="CodigoProductoClasificacion" required>
                                    <option value="">Seleccione una clasificacion</option>
                                </select>
                                <div ng-messages="(form.CodigoProductoClasificacion.$dirty && form.CodigoProductoClasificacion.$error)" ng-messages-multiple>
                                    <div class="error" ng-message="required">Seleccione una Clasificacion para este producto</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="cemail" class="control-label col-lg-2">Sub-Clasificacion</label>
                            <div class="col-lg-10">
                                <select class="form-control " ng-model="producto.CodigoProductoSubClasificacion"
                                        ng-options="opcion.CodigoProductoSubClasificacion as opcion.Descripcion for opcion in productoSubClasificaciones"
                                        id="CodigoProductoClasificacion" name="CodigoProductoClasificacion">
                                    <option value="">Seleccione una sub-clasificacion</option>
                                </select>
                                <div ng-messages="(form.CodigoProductoSubClasificacion.$dirty && form.CodigoProductoSubClasificacion.$error)" ng-messages-multiple>
                                    <div class="error" ng-message="required">Seleccione una Clasificacion para este producto</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label for="cemail" class="control-label col-lg-2">Producto o servicio</label>
                            <div class="col-lg-10">
                                <select class="form-control " ng-model="producto.CodigoProductoTipo"
                                        ng-options="opcion.CodigoProductoTipo as opcion.Descripcion for opcion in productoTipos"
                                        id="CodigoProductoTipo" name="CodigoProductoTipo" required>
                                    <option value="">Seleccione Tipo (producto/servicio)</option>
                                </select>
                                <div ng-messages="(form.CodigoProductoTipo.$dirty && form.CodigoProductoTipo.$error)" ng-messages-multiple>
                                    <div class="error" ng-message="required">Seleccione un tipo de producto/servicio</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button scroll-up class="btn btn-success" ng-disabled="form.$invalid" ng-show="editar" ng-click="update()" type="submit">Actualizar</button>
                                <button scroll-up class="btn btn-success" ng-disabled="form.$invalid" ng-show="!editar" ng-click="create()" type="submit">Guardar</button>
                                <button scroll-up confirm="Esta completamente seguro que desea eliminar este elemento?" class="btn btn-danger" ng-show="editar" ng-click="delete()" type="submit">Eliminar</button>
                                <button scroll-up class="btn btn-default" ng-click="goBack()" type="button">Cancelar</button>
                            </div>
                        </div>


</form>
                </div>
            </div>
        </section>
    </div>
</div>
