

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading head-border">
                Crear una sub-clasificacion de productos <a class="btn btn-success btn-xs" href="#/productoSubClasificacion/create"><i class="fa fa-check"></i></a>
            </header>
            <table class="table table-striped custom-table table-hover">
                <thead> 
                    <tr>
                        <th ng-hide="true">Codigo Producto Sub-Clasificacion</th>
                        <th>Sub-Clasificacion</th>
                        <th>Clasificacion</th>
                        <th ng-hide="true">Estado</th>
                        <th class="hidden-xs"><i class="fa fa-cogs"></i> Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="productoSubClasificacion in productoSubClasificaciones">
                        <td ng-hide="true">
                            {{ productoSubClasificacion.CodigoProductoSubClasificacion }}
                        </td>
                        <td>
                            {{ productoSubClasificacion.Descripcion }}
                        </td>
                        <td>
                            {{ productoSubClasificacion.ProductoClasificacionDescripcion }}
                        </td>
                        
                        <td class="hidden-xs">
                            <a class="btn btn-primary btn-xs" href="#/productoSubClasificacion/edit/{{productoSubClasificacion.CodigoProductoSubClasificacion}}"><i class="fa fa-pencil"></i></a>                           
                        </td>
                    </tr>
                </tbody>
            </table>
            </section>
    </div>
    </div>
